<div style="border: 5px solid purple; padding: 10px; margin: 5px">
<b> Svetlana's comment  </b>
    

Hi, my name is Svetlana (https://hub.tripleten.com/u/6dee602c).


Thank you for submitting such a great plan! It has everything you need, so you can move on to the code part! :) 

</div>

# Final Project Work Plan:

This will describe the plan of attack to move forward on creating a adequate model to predict client churn rate.

In [5]:
import pandas as pd

In [6]:
df_con = pd.read_csv('/datasets/final_provider/contract.csv')
df_pers = pd.read_csv('/datasets/final_provider/personal.csv')
df_inter = pd.read_csv('/datasets/final_provider/internet.csv')
df_phone = pd.read_csv('/datasets/final_provider/phone.csv')

### Contract Data:

In [7]:
df_con.head(10)

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,2019-09-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,70.70,151.65
5,9305-CDSKC,2019-03-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,99.65,820.5
6,1452-KIOVK,2018-04-01,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
7,6713-OKOMC,2019-04-01,No,Month-to-month,No,Mailed check,29.75,301.9
8,7892-POOKP,2017-07-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,104.80,3046.05
9,6388-TABGU,2014-12-01,No,One year,No,Bank transfer (automatic),56.15,3487.95

Contract Data Thougts:

So far looking at the contract data alone, it doesn't show anything obvious. 

One thing that peaked my interest was the "(automatic)" section to the PaymentMethod column. I would guess that the other payment options are not automatic and require a manual monthly payment installment. This could impact loyalty.

### Personal Data:

In [8]:
df_pers.head(10)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No
5  9305-CDSKC  Female              0      No         No
6  1452-KIOVK    Male              0      No        Yes
7  6713-OKOMC  Female              0      No         No
8  7892-POOKP  Female              0     Yes         No
9  6388-TABGU    Male              0      No        Yes

Personal Data Thougts:

This info shows gender, realtionship status, if they have dependents, and age "limited".

### Internet Data:

In [9]:
df_inter.head(10)

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No
5,9305-CDSKC,Fiber optic,No,No,Yes,No,Yes,Yes
6,1452-KIOVK,Fiber optic,No,Yes,No,No,Yes,No
7,6713-OKOMC,DSL,Yes,No,No,No,No,No
8,7892-POOKP,Fiber optic,No,No,Yes,Yes,Yes,Yes
9,6388-TABGU,DSL,Yes,Yes,No,No,No,No

Internet Data Thougts:

This data shows what services the client is using. Perhaps the more services they have the more likely they are willing to stay.

### Phone Data:

In [10]:
df_phone.head(10)

   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No
3  9305-CDSKC           Yes
4  1452-KIOVK           Yes
5  7892-POOKP           Yes
6  6388-TABGU            No
7  9763-GRSKD            No
8  7469-LKBCI            No
9  8091-TTVAX           Yes

Phone Data Thougts:

Shows if they carry multiple lines, perhaps this is conected to if they dependents, partners, or a mixture.

## Work Plan:

1. We need to import the data and do nesecary data cleaning and preprocessing. This includes merging the data, filling in missing values and removing duplicates.
2. Feature Engeniring. We will want to create new features when the data is merged and cleaned to then extract new insights that may impact if a cleint is more likely to stay or churn.
3. EDA. Dive into what other trends that could be extracted that isn't intialy expressed in the data.
4. Prepare for Model training, train and validate model, and tune models when need to yield the best result.